<aside class="banner footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 my-auto">
                <p>made by simplyalec</p>
            </div>
            <div class="col-lg-4 my-auto">
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="https://simplyalec.com" class="btn btn-secondary btn-sm">
                            <i class="fa fa-globe fa-fw"></i>
                            <span>website</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://simplyalec.com/c" class="btn btn-secondary btn-sm">
                            <i class="fa fa-address-card fa-fw"></i>
                            <span>contact</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</aside>