<configuration>
	<system.webServer>
	<rewrite>
		<rules>
		<rule name="Redirect to https" stopProcessing="true">
                            <match url=".*" />
                            <conditions>
                                <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                            </conditions>
                            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                        </rule>
		    <rule name="assets - folder" enabled="true" stopProcessing="true">
                <match url="^assets/.*" />
                <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                </conditions>
                <action type="None" />
            </rule>
			<rule name="slimRoute" stopProcessing="true">
				<match url=".*"  />
				<action type="Rewrite" url="/index.php"  />
			</rule>
		</rules>
	</rewrite>
	</system.webServer>
</configuration>