{% extends 'templates/basePage.twig' %}
{% block content %}
    <div class="container">
        <div class="card mb-3 history-card">
            <div class="card-header">Credit</div>
            <div class="card-body">
                <p class="credit_name">Alec Dusheck: Website frontend & backend.</p>
                <p class="credit_details">I created the API, website frontend and the program that runs on the sign itself.</p>
                <p class="credit_name">Rushil Desai: Sign Hardware & backend.</p>
                <p class="credit_details">I designed and created the sign. I also researched the methods of controlling the LEDs via the Raspberry Pi.</p>
                <hr>
                <p class="credit_name">Julian Champine: Helped with design & funding.</p>
                <p class="credit_name">Sam Martin: Helped with design & funding.</p>
                <p class="credit_name">Dylan Yang: He did nothing.</p>
            </div>
        </div>
    </div>
{% endblock %}