{% extends 'templates/basePage.twig' %}
{% block content %}
    <div class="container">
        <div class="card mb-3 history-card">
            <div class="card-header">History</div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date Played</th>
                        <th>Animation Name</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for anim in data.animations.list %}
                            <tr>
                                <td>{{ anim.playDate }}</td>
                                <td>{{ anim.animationName }}</td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}